/* src/styles/SimpleBar.css */

.simple-bar {
  background-color: #471613;  /* Dark red background */
  color: white;  /* White text color */
  padding: 2rem 0;  /* Padding to make the bar taller */
  text-align: center;  /* Center the text */
  width: 100%;  /* Full width */
}

.bar-heading {
  font-family: 'Merriweather', serif;  /* Heading font */
  font-size: 2rem;  /* Size for the heading */
  margin: 0;  /* Remove default margin */
}

.simple-bar-variant {
  background-color: var(--midpoint-red);  /* Penn Red background */
  color: white;  /* White text color */
  padding: 1rem 0;  /* Padding to make the bar taller */
  text-align: center;  /* Center the text */
  width: 100%;  /* Full width */
}

.bar-heading-variant {
  font-family: 'Merriweather', serif;  /* Heading font */
  font-size: 1.5rem;  /* Size for the heading */
  margin: 0;  /* Remove default margin */
}