/* src/styles/SchoolProgramShort.css */

.simple-bar {
  background-color: #471613;  /* Dark red background */
  color: white;
  padding: 2rem 0;
  text-align: right;
  width: 100%;
  padding-right: 6rem;
  /* give the text a shadow with #932B2B */
  text-shadow: 2px 4px 6px #932b2b;
}

.simple-bar-variant {
  color: white;
  padding: 5rem 0;
  text-align: right;
  width: 100%;
  padding-right: 6rem;
  /* Add a smoother gradient with redder shades to avoid orange */
  margin-bottom: 10rem;
}

.gradient {
  background-image: linear-gradient(
    180deg,
    hsl(3deg 58% 18%) 0%,
    hsl(2deg 57% 25%) 20%,
    hsl(1deg 55% 33%) 40%,
    hsl(0deg 39% 47%) 60%,
    hsl(0deg 41% 71%) 80%,
    hsl(0deg 0% 100%) 100%
  );
}

.bar-heading {
  font-family: 'DM Serif Display', serif;
  font-size: 3.5rem;
  margin: 0;
  font-weight: 400;
}

.program-features {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* 5 equal parts */
  gap: 2rem;  /* Space between each box */
  padding: 2rem;
  background-color: #471613;  /* Same deep red background */
  color: white;
  
}

.feature-box {
  background-color: #5a201d;  /* Slightly darker red for the boxes */
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Add a subtle shadow */
}

.feature-number {
  position: absolute;
  top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.feature-box p {
  margin-top: 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}

.cta-btn {
  margin-top: 2rem;
  background-color: white;
  color: #471613;  /* Button with dark red text */
  padding: 0.75rem 0;  /* Adjusted padding: vertical only */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;  /* Make the button take the full width */
  display: block;  /* Ensure it's a block-level element */
  text-align: center;  /* Center the button text */
  transition: background-color 0.3s, color 0.3s;  /* Smooth color transition */
}

.cta-btn:hover {
  background-color: #fb3640;  /* Change button background on hover */
  color: white;
}


