.teacher-spotlight-section {
    padding: 10rem;
    background-color: var(--light-gray);
  }
  
  .teacher-spotlight-section h2 {
    font-family: var(--font-headline);
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  
  .teacher-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
  }
  
  .teacher-card {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .teacher-card h4 {
    font-family: var(--font-headline);
    color: var(--primary-color);
  }
  
  .teacher-card p {
    font-family: var(--font-body);
    color: var(--text-color);
  }

  .icon-style {
    font-size: 50px; /* Change the size */
    color: var(--midpoint-red);  /* Apply your custom red color */
    margin-bottom: 1rem; /* Add some space below the icon */
  }
  
  