/* src/styles/Welcome.css */

.welcome-content {
    display: flex;
    align-items: center;  /* Vertically center the content */
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;  /* Center the content horizontally */
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  
  .welcome-text {
    max-width: 60%;  /* Restrict the text section to 50% of the container */
    padding-right: 2rem;  /* Add space between the text and the image */
  }
  
  .welcome-image {
    max-width: 40%;  /* Restrict the image section to 40% of the container */
    margin-left: 2rem;
  }
  
  .welcome-pic {
    width: 120%;  /* Make the image responsive */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 8px;  /* Add a slight border radius if desired */
  }
  
  .welcome-quote {
    font-family: 'DM Serif Display', serif;  /* Headline font */
    font-size: 4.5rem;  /* Increase font size for headline */
    font-weight: 400;  /* Make it bolder */
    color: var(--midpoint-red);
    margin-bottom: 1rem;  /* Add space between heading and subheading */
  }

  .welcome-heading {
    font-family: 'DM Serif Display', serif;  /* Headline font */
    font-size: 2.5rem;  /* Increase font size for headline */
    font-weight: 400;  /* Make it bolder */
    color: black;
    margin-bottom: 1rem;  /* Add space between heading and subheading */
  }
  
  .welcome-subheading {
    margin-top: 1.5rem;  /* Add space between heading and subheading */
    font-family: 'Inter', sans-serif;  /* Body font */
    font-size: 1.125rem;  /* Slightly larger text */
    color: var(--text-custom-dark-gray);  /* Use the custom gray color */
    text-align: left;
  }
  